body{
    text-align: center;
    margin-top: 100px;
    background-image: linear-gradient(to right, #f3a683 0%, #cf6a87 100%);
}

header{
    margin-bottom: 30px;
}

#display{
    background-color: lightgray;
    width: 350px;
    height: 70px;
    padding: 5px;
    font-size: 45px;
}

.btn{
    font-weight: bold;
    font-size: 20px;
    width: 84px;
    height: 70px;
    margin: 3px 0px;
}